<ion-header class="home-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <div class= "buttons">
  <ion-button href="game-setup" class="play" expand="block" size="">Quick play</ion-button>
  <ion-button size="small" color="success">Host</ion-button>
  <ion-button size="small" color="success">Join</ion-button>
  <ion-button expand="block" size="small" (click) ="userLogin()">Login</ion-button>
  </div>
</ion-content>
